span {
    display: inline-block;
    width: 150px;
}

body {
    text-align: center;
}

.banner {
    background-color: purple;
    color: white;
    padding: 0px;
}

#icons {}

h1 {
    font-size: 50px;
    padding: 0px;
    margin: 0px;
}

h2 {
    font-size: 20px;
}

h3 {
    font-weight: 100;
}

nav {
    font-size: 25px;
    margin: 0px;
}

li {
    display: inline-block;
    padding: 20px;
    margin: 0px;
}

#header {
    font-size: 20px;
    padding: 5px;
    margin: 0;
}

#footer {
    background: lightgray;
    font-size: 15px;
}


/*span {
    display: inline-block;
    background-color: lightblue;
    padding: 5px;
    border: 1px solid darkgray;
  } 
  /* 
  #one {
    background-color:lightblue;
    width: 150px;
    height: 200px;
  }
  
  #two {
    background-color: cornflowerblue;
    width: 200px;
    height: 50px;
  }
  
  #three {
    background-color: rgb(187, 189, 243);
    width: 175px;
    height: 150px;
  } */

/* div,
  span {
    margin: 1px;
  }
  
  span {
    border: 1px solid #333;
    
    padding: 10px 15px;
  }
  
  #pics span,
  #text span {
    padding: 25px 30px;
  }
  
  #text span {
    background-color: white;
  } */